@page
@model TodoWebClient.Pages.Account.UserInfoModel

<div class="row">
    <div class="col-6">


        <h2>Name: </h2>
        <h3>@Model.GetUser.Name</h3>

        <br />

        <h2>ProfilePicture: </h2>
        <img src="@Model.GetUser.ProfileImage" />

    </div>

    <div class="col-6">

        <h2>Email: </h2>
        <h3>@Model.GetUser.Email</h3>

    </div>

</div>
